:root {
  font-family: sans-serif;

  text-rendering: optimizeLegibility;

  color: rgba(1, 1, 1, .8);

  overflow-y: scroll;
}

.main-title {
  text-align: center;
}

.main-content {

}

.columns {
  display: flex;
  flex-direction: row;
}

.centered {
  justify-content: center;
}

.opposite {
  justify-content: space-between;
}

.column {
  width: 500px;
}

.column-title {
  text-align: center;
}

.card {
  position: relative;
  box-shadow: 1px 1px 3px rgba(1, 1, 1, .5);
  border-radius: 2px;
  margin: 10px;
  padding: 10px;
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgba(1, 1, 1, 0.1);
}

.line {
  margin: 2px 0;
}

.label-above {
  display: block;
  margin: 2px 0;
}

.line-label {
  font-weight: bold;
  font-size: small;
}

.local-label {
  color: rgba(1, 1, 1, .7);
  font-size: small;
}

.info {
  font-size: small;
}